.search {
    box-shadow: 0 20px 10px -10px rgba(200, 200, 200, 0.5);
    display: inline-block;
  }
  
  .search__input {
    border: 0;
    outline: 0;
    line-height: 50px;
    font-size: 14px;
    padding: 0 18px;
    float: left;
  }
  
  .search__button {
    box-shadow: -10px 0 10px -5px rgba(90, 238, 209, 0.5);
    color: #fff;
    background-color: #5AEED1;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: 0;
    transition: box-shadow .3s ease-out;
  }
  .search__button:active {
    box-shadow: -10px 0 10px -10px rgba(90, 238, 209, 0.5);
  }